---
import HeaderLink from "./HeaderLink.astro";
import site from "../settings/site.yml";
import navLinks from "../settings/navigation.yml";
---

<header>
	<div class="header-section">
		<img src="/logos/coffee.png" alt="Coffee" class="header-logo" />
		<div class="header-frame">
			<h1>{site.title}</h1>
			<h2>{site.subtitle}</h2>
		</div>
	</div>
</header>
<nav>
	{navLinks.map((link) => (
		<HeaderLink
			href={link.href}
			target={link.external ? "_blank" : undefined}
			rel={link.external ? "noopener noreferrer" : undefined}
		>
			{link.label}
		</HeaderLink>
	))}
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
	.header-logo {
		height: 110px;
		width: auto;
		margin-right: 1rem;
	}
</style>
